

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 1200px;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right,rgba(245,245,245,.8),rgba(245,245,245,.8)),url('https://d33wubrfki0l68.cloudfront.net/daac8858fd4a0ccea44f59dfd079c3c16c263f33/c157c/assets/svg/common-bg.svg');
}

.button {
    background-color: #facf0f;
    border: none;
    padding: 15px;
    width: 200px;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    box-shadow:  1px 1px 1px 1px lightgray;
    transition: 0.5s;
    text-decoration: none;
    color: #333;
}
.button:hover {
    box-shadow:  2px 2px 2px 2px lightgray;
    
}
.text {
    color: #333;
    margin: 40px;

}

#text {
    font-size: 90px;
}



.image {
    width: 100%;
}

@media screen and (max-width: 768px) {

    #text {
        font-size: 60px;
    }
    .container {
        height: 700px;
    }
}