


.biggercontainer {
    display: flex;
    font-family: 'Ubuntu', sans-serif;
    justify-content: center;
    width: 100%;
    background-color: #f2f2f2;
    border-bottom: solid 1px lightgray;
}


.container {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 97%;
    justify-content: center;
    align-items: center;
    border-radius: 20px;

}

.skills {
    border: solid 1px lightgray;
    width: 80px;
    margin: 2px;
    border-radius: 5px;
}

.text {
    font-weight: 100;
}

.aboutme {
    font-size: 60px;
}

@media screen and (max-width: 768px) {
    
    .aboutme {
        font-size: 50px;
    }
    .text {
        font-size: 14px;
    }
}