





.container {
    display: flex;
    width: 850px;
    height: 350px;
    border: solid 1px lightgray;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    justify-content: space-around;
    transition: transform 0.5s ease;
}

.container:hover {
    /* transition: 1s; */
    background-color: #ececec;
    /* transform: rotateX(20deg); */
    transform: translateX(20px) translateY(-20px);
    


}

.images {
    width: 40%;
    height: 80%;
    border-radius: 10px;
}


.cards {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}


.description {
    font-weight: 100;
    font-size: 25px;
}

.button {
    margin: 30px;
    text-align: center;
    background-color: #facf0f;
    width: 150px;
    height: 50px;
    border-radius: 7px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    color: white;
    text-decoration: none;

}

.button:hover {
    background-color: #facf0f;
    transition: 0.5s;
    cursor: pointer;
    color: white;

}

.link {
    text-decoration: none;
    color: white;
}

.link:hover {
    color: white;

}

.sub_container {
    display: flex;
}
@media screen and (max-width: 768px) {

    .container {
        width: 350px;
        height: 150px;
    }
    .description {

        font-size: 12px;
    }

    .button {
        margin: 0px;
        width: 100px;
        height: 30px;
        font-size: 10px;
    
    }
}