.container {
    width: 100%;
    margin-top: 10px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}

li {
    list-style: none;
}

.list {
    display: flex;
    width: 400px;
    justify-content: space-around;
}


.logo {
    margin: 10px;
    color: #facf0f;
    cursor: pointer;
}

.link {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 18px;
    margin: 30px;
    padding: 13px;
}

.link:hover {
    
    transition: 1s;
    color: #facf0f;
}


#contact {
    color: #facf0f;
    border-radius: 15px;
    border: solid 2px #facf0f;
}


#contact:hover {
    background-color: #facf0f;
    color: white;
}


.menuIcon {
    display: none;
    cursor: pointer;
  }
  
  .menuIconTop,
  .menuIconMiddle,
  .menuIconBottom {
    display: block;
    height: 3px;
    width: 25px;
    background-color: black;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
  }
  
  .menuIconMiddle {
    width: 20px;
  }
  
  .menuIconOpen .menuIconTop {
    transform: translateY(8px) rotate(45deg);
  }
  
  .menuIconOpen .menuIconMiddle {
    opacity: 0;
  }
  
  .menuIconOpen .menuIconBottom {
    transform: translateY(-8px) rotate(-45deg);
  }
  
  .list {
    display: flex;
    width: 400px;
    justify-content: space-around;
  }
  
  .listOpen {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
  }







@media screen and (max-width: 768px) {
    .menuIcon {
      display: block;
    }
  
    .list {
      display: none;
    }

    .smalllist {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        margin-top: 10px;
    }
    
    .link {
        text-decoration: none;
        color: black;
        font-weight: bold;
        font-size: 15px;
        margin-top: 20px;
    }
    
    #contact {
        color: black;
        border-radius: 1;
        border: none;
    }
    .humberger {
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        justify-content: center;
        text-align: center;
    }
  }